*
{
margin:5px;
paddind:10px;
}
body
{
color: red;
background-color: blue;
font-size:20px;
font-family:calibri;
}
p{
font-size:20px;
background-color: white;
}
h1{
font-size:20px:
background-color: white;
}